@model Screenshot
<!DOCTYPE html>
<html>
<body>
    <form class="align-self-baseline" asp-controller="Screenshots" asp-action="Create" method="post">
        <input class="align-self-baseline" asp-for="Url" /><br />
        <input class="align-self-baseline" asp-for="GameId" /><br />
        <input class="align-self-baseline" type="submit" value="Add" />
    </form>
</body>
</html>